/* Parallax */
.parallax-container {
  min-height: 550px;
  line-height: 0;
  height: auto;
}
.parallax-container .section {
  width: 100%;
}

/* Nav Bar */
.sidenav-trigger {
  color: #ffffff;
}

.nav-wrapper {
  z-index: 1;
}

.links {
  font-size: 1.2rem;
  margin: 0 8px;
  text-shadow: -.5px 0 #000000, 0 .5px #000000, .5px 0 #000000, 0 -.5px #000000;
}

.links:hover {
  background: none;
  border-bottom: 3px solid #0084b4;
}

/* Title || Header */
#headerText {
  margin-top: 120px;
  color: #ffffff;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.intro {
  font-size: 1.2rem;
}

/* Project section */
#projectRow {
  margin: 55px 0 55px 0;
}

#projectDesc {
  margin: 18px 0 0 0;
}

.computer {
  height: 250px;
}

/* Project Links */
.projectLink {
  color: #000000;
}

.projectLink:hover {
  color: #0084b4;
}

/* Footer */
footer.page-footer {
  margin: 0;
  border-top: 3px solid #f9f9f9;
  background-color: #ffffff;
}

.footer-copyright {
  background-color: #f9f9f9 !important;
}

#prof {
  height: 175px;
  border-radius: 50%;
}

#contact {
  font-size: 1.5rem;
  color: #0084b4;
  text-decoration: underline;
}

.fab {
  color: #0084b4;
  padding: 3px;
}

.fas {
  color: #0084b4;
  padding: 3px;
}

/* Contact Form */
form {
  background-color: #ffffff;
}

#contactForm {
  margin-bottom: 0px;
}

.input-field {
  /* background-color: #f9f9f9; */
  border-radius: 25px;
}

.row .input-field input:focus {
  border-bottom: 1px solid #0084b4 !important;
  box-shadow: 0 1px 0 0 #0084b4 !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid #0084b4 !important;
  box-shadow: 0 1px 0 0 #0084b4 !important;
}

#placeholder {
  color: #D6D6D6;
}

#send {
  border: 1px solid #0084b4;
}

#send:hover {
  background-color: #0084b4;
  color: #ffffff;
}


/* Media Queries */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  #logo-container {
    font-size: 1.3rem;
  }
  .header {
    font-size: 3rem;
  }
  .typewriter{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .computer {
    height: 190px;
  }
  #projectDesc {
    text-align: center;
    margin: 0px;
  }
  #socials {
    margin: 0 0 20px 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  #index-banner .section {
    top: 0;
  }
  #logo-container {
    font-size: 1.5rem;
  }
  .header {
    font-size: 3.2rem;
  }
  .typewriter{
    font-size: 1.2rem;
  }
  .computer {
    height: 300px;
  }
  #projectDesc {
    text-align: center;
    margin: 0px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .computer {
    height: 400px;
  }
  #projectDesc {
    text-align: center;
    margin: 0px;
  }

  .typewriter h6 {
    font-size: 1.1rem;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .01em;
    animation: 
      typing 5s steps(300, end),
      blink-caret 1s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .computer {
    height: 255px;
  }
  #projectDesc {
    margin: 8px 0 0 40px;
    text-align: left;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .computer {
    height: 300px;
  }
  #projectDesc {
    margin: 20px 0 0 70px;
    padding-right: 0px;
    text-align: left;
  }
}

/* Very Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {
  .computer {
    height: 335px;
  }
  #projectDesc {
    margin: 30px 0 0 70px;
    text-align: left;
  }
}
